.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Playful animation effects */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Add to your CSS file */
.modal {
  position: relative;
  /* Other styling remains unchanged */
}

.blinkingText {
  animation: blinkingText 1.5s infinite;
  color: #ff0000;
  /* Example color: red */
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.aprilFoolModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* Adjust background color as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  /* Style your button as needed */
}

/* Add this to your CSS file or <style> tag */
@keyframes colorfulBlinker {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  75% {
    color: green;
  }

  100% {
    color: red;
  }
}

@keyframes growAndShrink {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.blinkingText {
  animation: colorfulBlinker 2s linear infinite, growAndShrink 2s linear infinite;
}

.imageapril{
  height: 400px;
  width: 400px;
}